<nav class="nav">
    <h3>Peculiar Charm</h3>
        <a class="nav-link" href="/collections">Collections</a>
        <a class="nav-link" href="/collections/about">About Me</a>
        <a class="nav-link" href="/collections/login">Login</a>
        <a class="nav-link" href="/collections/logout">Logout</a>
        <a class="nav-link" href="/collections/signup">Sign Up</a>
    </nav>