<nav class="nav justify-content-center">
    <a class="nav-link" href="/collections">Collections</a>
    <a class="nav-link" href="/collections/about">About Me</a>
    <a class="nav-link" href="/collections/login">Login</a>
    <a class="nav-link" href="/collections/logout">Logout</a>
</nav>