<nav>
    <li>
        <a href="/collections">Collections</a>
    </li>
    <li>
        <a href="/collections/about">About Me</a>
    </li>
    <li>
        <a href="/collections/login">Login</a>
    </li>
    <li>
        <a href="/collections/logout">Logout</a>
    </li>
</nav>