<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    
    <h1>About the Curator</h1>
    <p>My name is Sara Le Lait and I am a collector of the beatiful and odd.</p>
</body>
</html>