<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    
    <h1>About the Curator</h1>
    <img class="aboutImg" src="https://res.cloudinary.com/dtx5welvi/image/upload/v1675633117/Personal%20Use/B07E2F85-769E-49C5-8F7E-DAA7150C672F_wyfwos.jpg">
    <p>My name is Sara Le Lait and I am a collector of the beatiful and odd.</p><br />
    <p>I have always had a facination with unique and strange. These pieces are either owned by me or will become a wish list. Please add whatever you feel inspires you, makes you cringe (just a little) and peaks your curiosity!</p>
    <p>Now go play!</p>
</body>
<%- include("../partials/footer") %>
</html>