<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    
    <h1>About the Curator</h1>
    <img src="https://lh3.googleusercontent.com/_sROaDY9NIeA1Nz_NekdFV0fAhPjA1HzkIlkv5zwlca1P6iHB7CRWfEUpIyckhtqGmRcdiG00FqrPyuOUAwsK1Tvyuvh1ZOvYQP1N5iFq7YW8_P1SbYDsH2KEFaONPztT_4N54V-r87KMY8YC1BDllBVviuAG6o8ICRqBr3fgcrygEI4XRf5ayXsYreAwnR5UK6_TPEliCAxF24wwwdqha6WUT4XWVeJt5NmCsAPvs8D36NULWt_DdeHgSCn8PBYsZ1zYahNxh5QzfFjjX-E0SmMAABvQ3pq45-MM22YJQ5fnidGhe1jIj9EV0gx9rcdd3lrSuu72Im2SqHGqLWnnxucrcE37qEUEun8j1d4ELWwbZbMpYpvb41ywC13an1lIjhEohpV2JH_nkILM0c0kUSfru24-sQeF3UycwT9NRhBf9-5Sg5PSTno3S5RSbmYJmPhA7sFG9L9DiamO8xee7pUCDekixi406PQuukADSpBvKJONbNA6qXBt4JOnJXiWRr6_8dnTaF0jAv2WhP8W4E8JPyqcr7lDTXUbSeeEwkfcnbZkv5CKdxZcMGg2YSaPujHwN4JUS8oOw2yeEZLxFoYmR4Y10Snywe0__-W3KjNfbmjf4yQGE-hciaFrGpSwpcCHb2MEAQHPmqUaat3PVPL3ddhwLDuwddBZs0p41BQ928CvHiidmevv-t3fqbofqerqOhWmcSD01n20eCIFNFb9yHCxQpzHVxmDpFWrcZ8R8-LZSo8WcGd-fs5e-XqBZSCi1gwbynYhNDEeLCOJ7JZMOjky8B7HlxLwI_BgPRDU7lsMy5Mh8S0FZ13AIfGtfMIGzJfZxwHJDY7fMVtqNAMmcYL2eXaHVYhxkLa0INX2L0T6Cgpqh8keGyylEdik5or9gE2qP3HkAEBPCqwnBCnifkl06A6_9EPiAzzQPayXeDf=w720-h404-no?authuser=0">
    <p>My name is Sara Le Lait and I am a collector of the beatiful and odd.</p>
</body>
</html>