<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    
    <h1>About the Curator</h1>
    <img class="aboutImg" src="http://lh3.googleusercontent.com/yq_sGpSvvNo3PgSJoUbtjVFFPIY_m2EwDshY-pm0wPyPmao33xrw6Hs08YT3XkeG4NPsFaBHoGzFhF3bQp5sxHf9Ctx5zk5Z4NK7icS_IG3btbOou39aqvV-RoO_TAR_lbDGQG9WLgBghD__mFUtYbByuYrPVcSEgrOnRmoW_xYDGxT_SqOFVhI67RJ89g_wIHv2ILJpXoEoY5rDAbKg8KiGFJ6tr6PGWz2Cbfuhp76xtc6ZB9IwIpllQ13U3lhojy874_Pbp8A4alXp5u_A9Rs8BkL6t0fK0i9lrHF3DUXvv1UySmkVGrKWHOkL1QeJA1AzgG7xZOIvny-eUbPM03965zuZp9gwC33P1o0C0N7V-1RVlXe3-0sD7uu6bZd8rd1W5naA1pfWE6rEkiucORg9vUon66whkbsJCcw0S6H00Uz0ajAVE08nIsj-Gj9cMld-lHYUps8oHxDUD2sveSQdZSBcj1sWZZ7r97FqfnZuUawcHx2AyWB4v_QhtOIEJtz7EdKNdvdH-1oZtm5Ic-Um6Z4ddps2MLIBZlyra0BkAKmCOFAHBut9YcSKko3zCUKgmuSet-zlJcLernloNtAFk9BVGAY-2rI3Yxj-u1HJnlYFJz2OofLoenX4bGPlPWfehJtlk0xk-ady725A7CIr07Vi7iIzEXveXY4qnwE11YOYzBRdGnvpvPf3oogFilKY1zsPMObLpYVMpknqfwAmm_xrfc7p4aFXYXVQYiKW41uWIfSdfYarFY8LOTzveBk5kFkX_ETYGvJbor4RkQtF4w85UKd5oi0rTI1q7dVtLc6Bir8tHDw1PiC2WfrFDy0esRcdKJqRB-QBSjTWTu3LCIuHznPwgJloDi7uLOsyIGc-r2BdBfjVBGKRkUm8Rn0WvaQ80LyWZV8TpZYe2L5_I_s38xKvbeoXvrzcf6GmXUdF=w720-h404-no?authuser=0">
    <p>My name is Sara Le Lait and I am a collector of the beatiful and odd.</p>
</body>
<%- include("../partials/footer") %>
</html>