<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>    
    <h1>Welcome to Peculiar Charm</h1>
    <%- include("../partials/footer") %>
</html>