<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <div class="container-fluid">
    <%- include("../partials/nav.ejs") %>    
    <h1 class="homeTxt">Welcome</h1>
    <span class="homeLinks">Please <a class="nav-link" href="/login">Login</a> or <a class="nav-link" href="/signup">Sign Up</a></span>
    <img class="homeImg" src="https://images.pexels.com/photos/3800021/pexels-photo-3800021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <%- include("../partials/footer") %>
</div>
</html>