<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <h1><%= collection.name %></h1>
    <p><%= collection.description %></p>

</body>
</html>