<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/nav.ejs") %>
    <h1><%= collection.name %></h1>
    <p><%= collection.description %></p>
    <ul>Insert pieces here

            <li>piece.name</li>
            <li>piece.img as a link</li>
            <li>piece.description</li>
    </ul>

</body>
</html>