body {
    background-color: rgb(166, 178, 184);
    height: 100%;
    text-align: center;
}

.col {
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.nav {
    justify-content: center;
    align-items: center;
    height: 6rem;
    background-image: url("https://images.pexels.com/photos/4065850/pexels-photo-4065850.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-color: rgb(28, 29, 25);
    color:rgb(188, 202, 33);
    text-shadow: 1px 1px 2px black;

}

.nav-link, .link {
    color:rgb(188, 202, 33);
    padding: .4rem;
}

.nav-link:hover, .link:hover {
    color: rgb(234, 251, 50)
}

h1, h2, .header, .homeLinks {
    font-family: 'Aboreto';
    font-weight: bolder;
}

h1 {
    padding: 1rem 0 2rem 0;
}

.navLinks {
    white-space: nowrap;
}

.homeLinks {
    color:rgb(209, 223, 52);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 3rem;
}

.header {
    color: rgb(234, 251, 50); 
}

span.homeLinks a {    
    display: inline-block;
    white-space: nowrap;
    
}

.collectionImg, .pieceImg, .loginImg {
    height: 20rem;
    width: 15rem;
    padding: .2rem;
    border-radius: 1.5rem;
    border: .4rem solid;
    border-color: black;
    object-fit: cover;
}

.showImg {
    height: 25rem;
    width: 30rem;
    padding: .2rem;
    border: .4rem solid;
    border-radius: 1.5rem;
    border-color: black;
    object-fit: cover;
}

.loginImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutImg {
    height: auto;
    width: 30rem;;
    padding: .2rem;
    border: .4rem solid;
    border-radius: 1.5rem;
    border-color: black;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homeImg {
    height: auto;
    width: 25rem;
    padding: .2rem;
    border: .4rem solid;
    border-radius: 1.5rem;
    border-color: black;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homeLinks {
    display: inline;
    vertical-align: top;
}
.button, button, .btn {
    border: 2rem;
    border-radius: 2rem;
    text-align: center;
    box-shadow: .1rem .1rem rgb(207, 207, 207);
    color: rgb(207, 207, 207);
}
.button:hover, button:hover, .btn:hover {
    box-shadow: .1rem .1rem rgb(188, 202, 33);
}

.form {
    margin: 0 auto; 
    width:250px;
}

footer {
    padding: 3rem 0 0 0;
}

@media only screen and (max-width: 520px) {
    .navLinks {
        font-size: smaller;
        padding: .15rem;
        overflow: hidden;
        white-space: nowrap;
        clear: both;
    }
    .aboutImg, .homeImg {
        width: 18rem;
    }
    .homeLinks, .homeTxt {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 325px) {
    .navLinks .homeLinks {
        clear: both;
    }

    .aboutImg, .homeImg, .loginImg {
        width: 12rem;
    }
    .homeLinks, .homeTxt {
        font-size: large;
    }
}